body{
    background-color: aqua;
}
.cal{
    display: inline-block;
    padding-right: 7px;
    padding-left: 8px;
    padding-bottom: 8px;
    border: 2px;
    border-color: rgb(71, 38, 189);
    background-color: rgb(240, 118, 18);
    border-radius: 20px;
    text-align: center;
    
}
table{
    margin: auto;
}
input{
    font-size: 23px;
    border-radius: 9px;
}
button{
   font-size: 30px;
   background-color: coral;
   width: 67px;
   height: 55px;
   border-radius: 10px;
}
